html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

}


header {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    position: fixed;
    top: 0;

    width: 100%;
    background: #22252f;
}



#wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-width: 100vh;
}

.index-wrap {
    flex: 1;
    font-size: 2em;
    padding: 2rem;

    display: grid;
    column-gap: 6em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(15, auto);

    padding-bottom: 10rem;
}

img {
    grid-column: 1 / -1;
    grid-row: 1 / 15;
    max-height: 500px;
    max-width: 100px;
}

body {
    padding-top: 100px;
    color: rgb(214, 221, 227);
    background-color: #13151c;
}

h1 {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.phrase1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    text-align: left;
}

.phrase2 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    text-align: right;
}


.phrase3 {
    grid-column: 1 / 2;
    grid-row: 6 / 8;
    text-align: left;
}

.phrase4 {
    grid-column: 2 / 3;
    grid-row: 7 / 9;
    text-align: right;
}

.phrase5 {
    font-size: 1.1em;
    grid-column: 1 / 2;
    grid-row: 11 / 12;
    text-align: center;
}

.phrase6 {
    font-size: 1.1em;
    grid-column: 2 / 3;
    grid-row: 11 / 12;
    text-align: center;
}

.spacer {
    grid-column: 1 / -1;
    min-height: 120px;
    visibility: hidden;
}

.spacer1 {
    grid-column: 1 / -1;
    min-height: 490px;
    visibility: hidden;
}

.index-wrap h1 {
    grid-column: 1 / -1;
    grid-row: 15;
    text-align: center;

}

.defbody {
    padding-left: 2em;
    padding-right: 2em;
}

.deftext {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1px;
    max-width: 100%;
    margin-top: 50px;
}

h2 {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.defpic {
    grid-column: 1 / 7;
    width: 50%;
    height: auto;
}

.defp {
    grid-column: 7 / 13;
    text-align: left;
    font-size: 1.1em;
}

.manitext {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 3em;
}

.manitext figure {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: auto;
}

.manipic img {
    padding-top: 1em;
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    padding-bottom: 2em;
}


p {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.char-text {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    line-height: 40px;
    z-index: 1000;
    white-space: normal;

}

.logo {
    text-align: left;
    align-items: center;
    flex: 0 0 auto;
}

.logo a {
    display: flex;
    align-items: center;
    line-height: 0%;
}

.logo img {
    width: 50px;
    height: 50px;
}

.menu1 {
    display: flex;
    flex-wrap: nowrap;

    align-items: center;
    padding: 0.5rem 1rem;

    gap: 2rem;
    overflow: hidden;
    flex-shrink: 1;
}



.menu1 a {
    color: rgb(143, 150, 186);
    text-decoration: none;
    padding: 0.5rem;
}

.hamburger-menu {
    display: none;
}


.menu1 a {
    color: rgb(143, 150, 186);
    text-decoration: none;
    padding: 0.5rem;
    transition: color 0.3s;
}

.menu1 a:hover {
    color: rgb(238, 242, 245);

}

.menuI {
    font-size: 15px;
}


.hamburger-menu {
    display: none;
    /* Hidden by default, will be shown on mobile */
    align-items: center;
    justify-content: center;
    color: black;
}

.hamburger-menu button {
    background: none;
    border: none;
    font-size: 2em;
    /* Size of the hamburger menu icon*/
    color: rgb(143, 150, 186);
}

.hamburger-menu button .fa-bars {
    cursor: pointer;
}

footer {
    bottom: 0;
    margin-bottom: 40px;
    min-height: 30px;
    font-size: 18px;
    text-align: center;
    font-style: italic;
    color: rgb(143, 150, 186);

}

footer a {
    text-decoration: none;
    color: rgb(143, 150, 186);
}

.social {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.social .fa {
    padding: 12px;
    font-size: 1.5em;
    color: rgb(143, 150, 186);
}

.credit {
    margin: 0 auto;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}



@media (max-width: 1157px) {
    .hamburger-menu {
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }

    .menu1 {
        display: none;
        z-index: 999;
    }
}